
/* Shared style */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.display-flex{
    display: flex;
}
/* Color */

.dark-1{
    color: #3A3A3A;
}

/* header style */

.header-container{
    max-width: 1200px;
    margin: 0px auto;
}

/* Navbar */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.navbar-title{
    font-size: 1.25rem;
    font-weight: 700;
}
.navbar-items{
   

}
.navbar-items li{
    list-style: none;
    margin-right: 34px;
}

.navbar-items li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* banner style */

.banner-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      /* justify-items: center; */
      align-items: center;
}
.banner-content{
    max-width: 582px;
}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    font-weight: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.btn{
    background-color: #E02C6D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

.banner-image{
    max-width: 475px;
    position: relative;
    margin: auto;
}

.circle-image{
    display: block;
    width: 100%;
}

.camera-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 90%;
    z-index: 2;
}