
/* Shared style */

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.843);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
.display-flex{
    display: flex;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 16px;
}

/* Color */

.dark-1{
    color: #3A3A3A;
}

/* header style */

.header-container{
    margin-bottom: 70px;
}

/* Navbar */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.navbar-title{
    font-size: 1.25rem;
    font-weight: 700;
}
.navbar-items{
   

}
.navbar-items li{
    list-style: none;
    margin-right: 34px;
}

.navbar-items li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* banner style */

.banner-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      /* justify-items: center; */
      align-items: center;
      margin-bottom: 100px;
}
.banner-content{
    max-width: 582px;
}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.btn{
    background-color: #E02C6D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    border: 2px solid transparent;

    transition: background-color 0.3s ease, 
                color 0.3s ease, 
                transform 0.3s ease,
                box-shadow 0.3s ease;
}

.btn:hover{
border: 2px solid #E02C6D;
color: #E02C6D;
background: none;
transform: translateX(3px);
box-shadow: 0 8px 20px rgba(224, 44, 109, 0.4);
}

.banner-image{
    max-width: 475px;
    position: relative;
    margin: auto;
}

.circle-image{
    display: block;
    width: 100%;
}

.camera-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 90%;
    z-index: 2;
}

/* Sponsor style */
.sponsor-container{
    margin-bottom: 100px;
}

.sponsor-box{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    /* align-items: center; */
    padding: 36px 62px;
    border: 1px solid rgba(58, 58, 58, 0.15) ;
}



/* Products style */
.products-container{
    /* text-align: center; */
    margin-bottom: 100px;
}

.products-title{
    text-align: center;
    font-size: 1.95rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.products-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.product-card{
    width: 100%;
    max-width: 329px;
    border-radius: 8px;
    padding: 17px 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

}

.product-image{
    width: 100%;
}

.product-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(24, 25, 31, 1);
    margin-bottom: 6px;
}
.product-price{
     font-size: 1.5rem;
     color: rgba(0, 0, 0, 0.87);
     margin-bottom: 3px;

}
.product-rating{
    font-size: 0.87rem;
    font-weight: 700;
    color: rgba(23, 23, 23, 0.697);
}
.product-rating i{
    color: orangered;
}
.product-description{
    font-size: 0.87rem;
    font-weight: 700;
    color: rgba(23, 23, 23, 0.697);
}
.see-more{
    text-align: end;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 18px;
}


/* Feature style */

.feature-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 96px;
    margin-bottom: 100px;
}
.feature-img{
    width: 100%;
}
.feature-title{
    font-size: 2.35rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.feature-description{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6c6c6c;
    margin-bottom: 16px;
}

.feature-btn{
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 26px;
    background-color: #E02C6D;
    color: #ffffff;
    border: none;
}

/* footer style */

footer{
    background-color: rgba(10, 8, 38, 1);
    color: #ffffff;
    width: 100%;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

.footer-box{
    max-width: 262px;
    margin: 0 auto;
    text-align: center;
    padding: 50px ;
    
}
.media-items{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    gap: 16px;
}
.media-items li i{
    color: #ffffff;
}
.footer-title{
    font-size: 1.25rem;
    font-weight: 700;
}
.footer-des{
    font-size: 0.87rem;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}
/* Responsive for mobile */


@media screen and (max-width:576px) {

    .container{
        padding: 0 16px;
    }
    .navbar,
    .navbar-items{
        flex-direction: column;
    }
     
    .navbar{
        margin-bottom: 22px;
    }


    .banner-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 2.25rem;
    }

    .banner-description{
        max-width: 321px;
        margin: 0 auto 20px;
         font-size: 0.8rem;
    }
    .sponsor-box{
       grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 32px;
     align-items: center;
     justify-items: center;
    }

    .products-item{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .see-more{
        margin-right: 50px;
    }
    .feature-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        text-align: center;
        gap: 30px;
    }
}